[Desktop Entry]
Type=Application
Name=IWS
Comment=Open the private IWS workspace
Exec=/usr/bin/iws
Terminal=false
Categories=Office;
StartupNotify=true
